﻿@model MVCSuDoku4.Model.FullBoard

<div>
	@using (Html.BeginForm("ResetGame", "Game", FormMethod.Post, new { name = "resetForm", autocomplete="off" }))
	{	
		@Html.HiddenFor(m => m.BoardNumber)
		
		<button type="button" class="bigbutton" name="action" onclick="document.resetForm.submit()">Reset</button><br/>
	}
</div>
