﻿@model MVCSuDoku4.Model.FullBoard

<body>
	<div>
		<table>
			<tr>
				<td valign="top" rowspan="2">
					@Html.Partial("_StatusView")
				</td>
				<td rowspan="2">
					<center>
						@{ 
							ViewData["updateAction"] = "UpdateGame";
							ViewData["updateView"] = "Game";
						}
						@Html.Partial("_BoardView")
					</center>
				</td>
				<td valign="top">
					<div style="height: 5px"></div>
					<button type="button" class="bigbutton" onclick="location.href='@Url.Action("Index", "Home")'">Back to Menu</button><br/>
				</td>
			</tr>
			<tr>
				<td valign="bottom">
					@Html.Partial("_ResetButtonView")
					<button type="button" class="bigbutton" onclick="location.href='@Url.Action("NewGame", "Game")'">New Game</button><br/>
					@{ 
						ViewData["saveAction"] = "SaveGame";
						ViewData["saveView"] = "Game";
					}
					@Html.Partial("_SaveButtonView")
					<button type="button" class="bigbutton" onclick="location.href='@Url.Action("LoadGame", "Game")'">Load Saved Game</button>
					<br/><br/>
				</td>
			</tr>
		</table>
	</div>
</body>
