﻿@model MVCSuDoku4.Model.FullBoard

<div>
	@{ 
		string updateBoardActionName = ViewData["updateAction"].ToString();
		string updateBoardView = ViewData["updateView"].ToString();
	} 
	@using (Html.BeginForm(@updateBoardActionName, @updateBoardView, FormMethod.Post, new { name = "updateForm", autocomplete="off" }))
	{
		int boardSize = (int)(ViewData["BoardSize"]);
		int blockSize = (int)(ViewData["BlockSize"]);
		var tbConfig = new { maxlength="1", size="1", autocomplete="off", @onkeyup = "SubmitValidCellValue(event)" };

		@Html.HiddenFor(m => m.BoardNumber)

		for (int x = 0; x < boardSize; x++)
		{
			if ((x != 0) && (x % blockSize == 0))
			{
				@:<br/>
			}
			
			for (int y = 0; y < boardSize; y++)
			{
				if ((y != 0) && (y % blockSize == 0))
				{
					@:&nbsp;
				}
				@Html.TextBoxFor(m => m.BoardList[x * boardSize + y].Value, tbConfig)
				@Html.HiddenFor(m => m.BoardList[x * boardSize + y].XCoordinate)
				@Html.HiddenFor(m => m.BoardList[x * boardSize + y].YCoordinate)
				@Html.HiddenFor(m => m.BoardList[x * boardSize + y].BlockNumber)
			}
			<br/>
		}
	}
</div>
<script>
	function SubmitValidCellValue(event) {
		var value = event.currentTarget.value;
		if ((value == "") || (1 <= value && value <= 9)) { 
			document.updateForm.submit(); 
		} else {
			// If invalid, clear out value on screen 
			event.currentTarget.value = "";
		}
	}
</script>
