﻿<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">
		<script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Akronim" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Artifika" />
	</head>
	<body>
		<div id="page">
			<section id="main" style="background-image: url('/Content/TakayamaUkon.jpg'); background-size: 100%;">
				@RenderBody()
			</section>
		</div>
	</body>
</html>
