﻿@model MVCSuDoku4.Model.FullBoard

<div>
	@{ 
		string saveActionName = ViewData["saveAction"].ToString();
		string saveView = ViewData["saveView"].ToString();
	}
	@using (Html.BeginForm(@saveActionName, @saveView, FormMethod.Post, new { name = "saveForm", autocomplete="off" }))
	{
		for (int i = 0; i < Model.BoardList.Count; i++)
		{
			@Html.HiddenFor(m => m.BoardList[i].Value)
			@Html.HiddenFor(m => m.BoardList[i].XCoordinate)
			@Html.HiddenFor(m => m.BoardList[i].YCoordinate)
			@Html.HiddenFor(m => m.BoardList[i].BlockNumber)
		}
		@Html.HiddenFor(m => m.BoardNumber)
		
		<button type="button" class="bigbutton" name="action" onclick="document.saveForm.submit()">Save Game</button><br/>
	}
</div>