﻿@model MVCSuDoku4.Model.FullBoard

<!-- This dynamic changing of CSS was taken from Shyju's answer at http://stackoverflow.com/questions/11785166/conditionally-change-css-class-in-razor-view -->
@{
	string className = "statusViewRegular";
	string status = Model.Status.ToString();
	
	if (status == "Invalid")
	{
		className = "statusViewWarning";
	}
	else if (status == "Complete")
	{
		className = "statusViewSuccess";
	}
}

<div class="@className">
	<h3>The puzzle's status is:</h3>
	<center><h1><i>@Model.Status</i></h1></center>
</div>
