﻿
body
{
	font-family: Artifika;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #adceea;
}

h1 
{
	font-size: 20pt;
	font-weight: bold;
	padding: 0;
	margin-left: 20px;
	margin-top: 5px;
	margin-right: 20px;
}

#page
{
	/* centering markup taken from https://css-tricks.com/centering-css-complete-guide/ */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#main
{
	clear: both;
	padding: 10px 10px 10px 10px;
	background-color: #fff;
	width: 1390px;
}

input[type="text"]
{
	width: 80px; 
	height: 80px; 
	font-size: 64px; 
	text-align: center;
}

.statusViewRegular {
	border-radius: 25px;
	border: 2px solid #000000;
	background: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    margin-right: 20px;
    height: 120px;
    width: 260px;
    text-align: center;
}

.statusViewWarning {
	border-radius: 25px;
	border: 2px solid #000000;
	background: rgba(216, 8, 16, 0.8);
    margin-top: 20px;
    margin-right: 20px;
    height: 120px;
    width: 260px;
    text-align: center;
}

.statusViewSuccess {
	border-radius: 25px;
	border: 2px solid #000000;
	background: rgba(8, 144, 8, 0.6);
    margin-top: 20px;
    margin-right: 20px;
    height: 120px;
    width: 260px;
    text-align: center;
}

.bigbutton {
    border-radius: 4px;
	border: 2px solid #444444;
	margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    height: 75px;
	width: 240px;
	text-align: center;
	font-family: Artifika;
	font-size: 16pt;
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDDDDD), color-stop(100%,#999999));
	box-shadow: inset 0px 0px 6px #EEE;
}