﻿@model MVCSuDoku4.Model.FullBoard

<body>
	<div>
		<table>
			<tr>
				<td valign="top" rowspan="2">
					<div class="statusViewRegular">
						<br/><br/>
						<h1><center>Build A Board</center></h1>
					</div>
					<div style="height: 40px"></div>
					@Html.Partial("_StatusView")
				</td>
				<td rowspan="2">
					<center>
						@{ 
							ViewData["updateAction"] = "UpdatePuzzleSetup";
							ViewData["updateView"] = "Builder";							
						}
						@Html.Partial("_BoardView")
					</center>
				</td>
				<td valign="top">
					<br/>
					<button type="button" class="bigbutton" onclick="location.href='@Url.Action("Index", "Home")'">Back to Menu</button><br/>
				</td>
			</tr>	
			<tr>			
				<td valign="bottom">
					<div>
						@{ 	
							ViewData["saveAction"] = "SavePuzzleSetup"; 
							ViewData["saveView"] = "Builder";
						}
						@Html.Partial("_SaveButtonView")
					</div>
					<br/>
				</td>
			</tr>
		</table>
	</div>
</body>

