﻿@{
	ViewBag.Title = "MVC Sodoku 4";
}

<br/>

<div style="height: 250px">
	<center><table>
		<tr>
			<td valign="top" style="width: 1080px" align="right">
				<div><span style="font-size:150pt; font-family: 'Akronim';">MVC SUDOKU</span></div>
			</td>
			<td valign="top" style="width: 220px" align="center">
				<span style="font-size:160pt; font-weight: bold;"><i>4</i></span>
			</td>
		</tr>
	</table></center>
</div>
<div><h1><i><center>A web-based implementation of Sudoku in ASP .NET MVC 4</center></i></h1></div>
<br/><br/><br/>
<div><center>
	<button type="button" class="bigbutton" onclick="location.href='@Url.Action("NewGame", "Game")'">Play Sudoku</button>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<button type="button" class="bigbutton" onclick="location.href='@Url.Action("CreatePuzzleSetup", "Builder")'">Build a Board</button>
</center></div>
<br/><br/><br/>